
/**	op-skeleton-2030:/asset/init/guidance.css
 *
 * @moved      2025-10-12 op-skeleton-2030:/asset/init/guidance.phtml
 * @version    1.0
 * @package    op-skeleton-2030
 * @author     Tomoaki Nagahara
 * @copyright  Tomoaki Nagahara All right reserved.
 */

body {
	margin:  0;
	padding: 0;
	font-size: 14pt;
}

 * {
	font-size: inherit;
}

main {
	margin:  1em;
	padding: 0;
	margin-bottom: 0;
	line-height: 1.15;
}

aside {
	margin:  1em;
	padding: 0;
	margin-top: 0;
}

h1 {
	margin:    0;
	font-size: 120%;
}

h1 ~ * {
	margin:    1em;
}

code {
	line-height: 1.3;
}
